@import "bootstrap/scss/_functions"; 
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/buttons";

$link-color: white;
$link-hover-color: darken(white, 15%);
$link-hover-decoration: underline;




@import "bootstrap/scss/bootstrap";